@{
    ViewBag.Title = "Home Page";
}

<div ng-app="triangular">
    <div ng-controller="TriangleCtrl as tCtrl">
        <div class="row">
            <h3 class="col-md-2 col-md-offset-1">Side 1</h3>
            <h3 class="col-md-2">Side 2</h3>
            <h3 class="col-md-2">Side 3</h3>
        </div>
        <div class="row form-group" ng-repeat="t in tCtrl.triangles">
            <div class="col-md-1">
                <button class="btn btn-sm btn-danger">
                    <i class="glyphicon glyphicon-minus"></i>
                </button>
            </div>
            <input type="number" class="form-control col-md-2"value="" />
            <input type="number" class="form-control col-md-2"value="" />
            <input type="number" class="form-control col-md-2"value="" />
        </div>
        <div class="row">
            <button class="btn btn-sm btn-success">
                <i class="glyphicon glyphicon-plus"></i>
            </button>
        </div>
    </div>

</div>

@section scripts{
    <script src="~/Scripts/src/app.js"></script>
}